/* ツールチップの背景と枠線を透明にする */
.info-tooltip {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

/* 情報ボックス本体のスタイル */
.info-box {
  background-color: rgba(255, 255, 255, 0.85); /* 少しだけ透けた白 */
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #777;
}

.info-box h3 {
  margin: 0 0 5px 0;
  font-size: 14px;
}

.info-box p {
  margin: 0;
  font-size: 12px;
}
.hide-tooltips .leaflet-tooltip.info-tooltip {
    display: none;
}