
:root {
    /*--primary-color:;*/
    --background-color: #ECDCBF;
    --background-color-light: #ffeadb;
    --accent-color: #9B3B32;
    --accent-color-deep: #803028;
    --sub-color: #687786;
    --color-background: #f5e8d7; /* 色褪せた紙の色 */
    --color-paper: #fffdfa;
    --color-border: #8c7853;
    --color-text-main: #333;
    --color-text-label: #5a4a2c;
    --color-accent-red: #c0392b; /* 朱色 */
    --color-accent-red-dark: #a03024;
    
}

.klee-one-regular {
    /*font-family: "Klee One", cursive;*/
    font-family: "Zen Kaku Gothic New", cursive;
    font-weight: 400;
    font-style: normal;
}



/* ツールチップの背景と枠線を透明にする */
.info-tooltip {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

/* 情報ボックス本体のスタイル */
.info-box {
    background-color: rgba(255, 255, 255, 1); /* 少しだけ透けた白 */
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #777;
    z-index: 500;
    position: relative;
}

.hide-tooltips .leaflet-tooltip.info-tooltip {
    display: none;
}

.info-box p {
    font-size: 20px !important;
    font-weight: bold !important;
}

.info-sub-data {
    display: flex;
    justify-content: space-between;
}


